<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.GameCentre">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".GameCenterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SlidingTile.SlidingTileGameSettings" />
        <activity android:name=".GameSelectionActivity" />
        <activity android:name=".SlidingTile.SlidingTileGameActivity" />
        <activity android:name=".Sudoku.SudokuGameActivity" />
        <activity android:name=".The2048.The2048GameActivity" />
        <activity android:name=".GameOverActivity" />
        <activity android:name=".ScoreBoardPublicActivity" />
    </application>

</manifest>